# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python
build/
dist/
*.egg-info/

# Virtual Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
.kiro/
.github/

# Testing
.pytest_cache/
reports/
logs/
*.log
allure-results/

# Screenshots
screenshots/

# OS
.DS_Store
Thumbs.db

# Selenium
geckodriver.log
chromedriver.log

Cevaplar.md